@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}
h1,
h2,
p {
	font-size: 18px;
	margin-bottom: 10px;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

h2 {
	font-size: 32px;
	margin-bottom: 10px;
}

/* ul {
	list-style: none;
	padding: 0;
	margin: 0;
} */

li {
	margin-bottom: 10px;
}

iframe {
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 100%;
}
header {
	margin-top: 65px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
header > h1 {
	font-weight: 600;
}
/* Navigation bar */
nav {
	background-color: #222;
	color: #fff;
	padding: 10px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

nav,
nav > ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li.nav-list a {
	color: #fff;
	text-decoration: none;
}
/* Background images */
#about {
	/* background-image: url("../img/background/kazuend-LVdiXyu2eTc-unsplash.jpg"); */
	background-image: url("../img/background/caio-silva-C7RFkKvThG4-unsplash.jpg");
}
#projects {
	background-image: url("../img/background/nasa-1lfI7wkGWZ4-unsplash.jpg");
}
#skills {
	background-image: url("../img/background/vishnu-mohanan-pfR18JNEMv8-unsplash.jpg");
}
#education {
	background-image: url("../img/background/jason-goodman-Oalh2MojUuk-unsplash.jpg");
}

#experience {
	background-image: url("../img/background/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg");
}
#courses {
	background-image: url("../img/background/harrison-broadbent-c3YpscwJb04-unsplash.jpg");
}
#contact {
	background-image: url("../img/background/pavan-trikutam-71CjSSB83Wo-unsplash.jpg");
}

/* Parallax effect */
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 350px;
}

/* Tooltip container */
/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text 
   }
   */
/* Tooltip text */
/* tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        */
/* Position the tooltip text - see examples below! */
/* position: absolute;
        z-index: 1;
      } */

/* Position the tooltip text - see examples below! */
/* position: absolute;
    z-index: 1;
  }  */

/* Show the tooltip text when you mouse over the tooltip container */
/* .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }  */

/* Section titles */
.section-title {
	position: relative;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.section-title h2 {
	font-size: 48px;
	margin-bottom: 20px;
}

.section-title p {
	font-size: 18px;
	margin-bottom: 10px;
}

/* Content container */
.container {
	width: 80%;
	margin: 0 auto;
}

/* Classes */

.lang-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.lang-icons > img,
.icon {
	width: 90%;
	height: auto;
	margin: 15px;
	max-width: 100px;
}
.actions-icon-list > div > p {
	text-align: center;
}
.actions-icon-list > div > a,
.actions-icon-list > div {
	display: flex;
	justify-content: center;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 1;
}

.video-container {
	position: relative;
	width: 560px;
	height: 315px;
}

/* Bootstrap alterations */

.row {
	padding: 3%;
}
.project {
	background-color: #f1f3f4;
}
.actions-icon-list {
	display: flex;
	justify-content: space-around;
}
.actions-icon-list > div {
	display: block;
	width: 30%;
}
#profile-pic {
	border: 4px solid #cddc39;
	padding: 2px;
	border-radius: 50%;
	border-top-color: #ff5722;
	border-left-color: #ff5722;
	width: 100%;
	height: auto;
}
.project-title,
.education-title,
.work-title {
	font-family: "Russo One", sans-serif;
}
footer {
    display: flex;
	align-content: center;
	flex-direction: column;
	align-items: center;
}
.indent {
	text-indent: 30px;
}
#twilio-logo {
	height: 1em;
}
#atbs {
	max-width: 350px;
}
#contact-icons{
    display: flex;
    justify-content: space-around;
}
#contact-icons > a > img{
    max-height: 95px;
}
footer > button {
	padding: 3px;
}

/* Orange #F47701
Gray #212529 */
